* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.fall {
  background-image: url("https://images6.alphacoders.com/338/338596.jpg");
}
.winter {
  background-image: url("https://wallpaperaccess.com/full/5865793.jpg");
}
.spring {
  background-image: url("https://wallpaper.dog/large/17253151.jpg");
}
.summer {
  background-image: url("https://www.enjpg.com/img/2020/summer-18.jpg");
}
header {
  display: flex;
  align-items: center;
  height: 20vh;
}
header .div {
  font-size: 6rem;
  font-family: "Special Elite", cursive;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  width: max-content;
  margin: auto;
  animation: date 1.5s ease-in-out 0.5s 1;
}
main {
  height: 60vh;
}
main .time {
  font-size: 7rem;
  font-family: clockFont;
  color: #f00;
  text-shadow: 2px 2px 20px #f00;
  background-color: rgba(10, 10, 10, 0.2);
  width: max-content;
  margin: auto;
  height: max-content;
}
main .days-animation {
  animation: days 2s ease-in-out 0.5s 1;
}
main .time-animation {
  animation: time 2s ease-in-out 0.5s 1;
}
main .days .day-name {
  width: max-content;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: "Special Elite", cursive;
  font-size: 3rem;
}
.day-gif {
  min-width: 300px;
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.monday {
  background-image: url("https://i.giphy.com/media/Lk0P1jhMLE7nfLZBg8/200w.webp");
}
.tuesday {
  background-image: url("https://i.giphy.com/media/et69KWHAxAR8c/giphy.webp");
  width: 350px;
  height: 250px;
}
.wednesday {
  background-image: url("https://i.giphy.com/media/OjDsrByk1P3RC/giphy.webp");
}
.thursday {
  background-image: url("https://i.giphy.com/media/VsSksaIufXQR2/200w.webp");
}
.friday {
  background-image: url("https://i.giphy.com/media/d8D5RoR8adbJaFF3TV/200w.webp");
}
.saturday {
  background-image: url("https://i.giphy.com/media/2yLNN4wTy7Zr8JSXHB/200w.webp");
}
.sunday {
  background-image: url("https://media4.giphy.com/media/Wn0Lj9phmxne7atJsM/giphy.webp?cid=ecf05e47dw5hkkanbnamz1xwsf6x24hqzg8l4sodqpcb43id&rid=giphy.webp&ct=g");
}
footer {
  height: 20vh;
}
footer .footer-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
footer a {
  display: inline-block;
}
footer a:hover {
  animation: click 0.5s linear 1;
}
@keyframes date {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes days {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes time {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes click {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@font-face {
  font-family: clockFont;
  src: url(./fonts/DS-DIGIB.TTF);
}
@media screen and (min-width: 992px) and (max-width: 1370px) {
  header .div {
    font-size: 5rem;
  }
  main .time {
    font-size: 6rem;
  }
  main .days .day-name {
    font-size: 2.7rem;
  }
  .day-gif {
    width: 280px;
    height: 280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header .div {
    font-size: 4.5rem;
  }
  main .time {
    font-size: 5rem;
  }
  main .days .day-name {
    font-size: 2.5rem;
  }
  .day-gif {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  header .div {
    font-size: 4rem;
  }
  main .time {
    font-size: 4rem;
  }
  main .days .day-name {
    font-size: 2.2rem;
  }
  .day-gif {
    min-width: 230px;
    min-height: 230px;
  }
}
@media screen and (min-width: 0px) and (max-width: 576px) {
  header .div {
    font-size: 3rem;
  }
  main .time {
    font-size: 3rem;
  }
  main .days .day-name {
    font-size: 1.8rem;
  }
  .day-gif {
    min-width: 220px;
    min-height: 220px;
  }
}
